@{
    ViewData["Title"] = "Contact";
}

<p>
    <img src="~/images/email.png" alt="email" class="left" />
    If you have any comments, please email me at <strong>hobi (at) hobi (dot) com or use the form below</strong>.
</p>

<p class="center">
    <iframe frameborder="0" scrolling="no" width="500px" height="220px"
            src="https://www.ict.social/api/Service-MailForm/5b5a8cdab989b5e4833544f23501910b"></iframe>
</p>