@{
    ViewData["Title"] = "About me";
}

<p>My name is John Bittner and this is my personal blog. Currently, I work as an HTML/JS developer for a web studio. Moreover, I work as an editor for the ICT.social social network.</p>

<p class="center"><img src="~/images/avatar.png" alt="HoBi the programmer" /></p>

<p>The blog is programmed in C# .NET using the ASP.NET Core MVC web framework. It communicates with the database using EntityFramework and this is how the articles are displayed. You can try it in the Articles tab. It also contains a simple administration with logging in.</p>

<p>The blog has been created as an example for a programming course on the <a href="https://www.ict.social">ICT.social</a> social network, where you can find a detailed tutorial how to create it. It's an extension of a static portfolio made by HoBi the web designer.</p>