@{
    ViewData["Title"] = "References";
}

<p>Below, you can find examples of my work. I can offer you custom software development services. </p>

<div id="reference">
    <a href="~/images/calculator_java.png" title="Calculator in Java"><img src="~/images/calculator_java_thumbnail.png" alt="Calculator in Java" /></a>
    <a href="~/images/mines_pascal.png" title="Mines in Pascal" rel="lightbox[reference]"><img src="~/images/mines_pascal_thumbnail.png" alt="Mines in Pascal" /></a>
    <a href="~/images/hobi_web.png" title="Website in HTML and CSS" rel="lightbox[reference]"><img src="~/images/hobi_web_thumbnail.png" alt="Website in HTML and CSS" /></a>
</div>