@{
    ViewData["Title"] = "Skills";
}

<table id="skills">
    <tr class="center">
        <td>
            <img src="~/images/html.png" alt="HTML" />
        </td>
        <td>
            <img src="~/images/csharp.png" alt="C#" />
        </td>
        <td>
            <img src="~/images/aspnet.png" alt="ASP.NET" />
        </td>
    </tr>
    <tr>
        <td>
            <h2>HTML and CSS</h2>
            <p>I have perfect knowledge of HTML 5, CSS 3, and good knowledge of the jQuery JS framework. I can optimize websites for mobile devices.</p>
        </td>
        <td>
            <h2>C# .NET</h2>
            <p>I have very good knowledge of C# .NET, object-oriented programming and working with relational databases in MS-SQL.</p>
        </td>
        <td>
            <h2>ASP.NET</h2>
            <p>I'm learning the ASP.NET Core MVC technology upon which this blog is built. I know how to work with EntityFramework and create dynamic websites.</p>
        </td>
    </tr>
</table>