/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    background: url('../images/background_grey.png') #1c2228;
    margin: 0px;
    font: 14px Verdana;
    min-width: 960px;
    margin: 73px 0px 0px 0px;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    color: #0a294b;
    font-family: Arial;
    text-shadow: 3px 3px 7px #666666;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px #0a294b;
}

h2 {
    font-size: 1.7em;
}

.center {
    text-align: center;
}

article {
    background: url('../images/background.png') #009aca;
    padding: 30px 0px;
}

header {
    height: 73px;
    position: fixed;
    top: 0px;
    background: url('../images/background_grey.png') #1c2228;
    width: 100%;
}

article header {
    width: 250px;
    float: left;
    position: static;
    background: none;
}

article section {
    float: left;
    background: white;
    border: 2px solid #006797;
    box-shadow: 2px 2px 7px #1c2228;
    padding: 20px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

#logo {
    background: url('../images/logo.png') no-repeat;
    width: 250px;
    height: 60px;
    float: left;
    margin: 7px 0px 0px 20px;
}

    #logo h1 {
        margin: 14px 0px 0px 10px;
    }

nav ul {
    margin: 0px;
    list-style-type: none;
}

    nav ul li {
        float: left;
        padding: 0px 25px;
        margin: 0 5px;
        font-size: 17px;
        height: 73px;
        line-height: 4.3em;
    }

nav a {
    color: white;
    text-decoration: none;
}

nav ul li:hover, .active {
    background: #ffbb00;
    box-shadow: 0px 0px 5px black;
}

footer {
    height: 40px;
    color: white;
    margin: 20px 0 0 30px;
}

    footer a {
        color: #ffbb00;
        text-decoration: none;
    }

#centerer {
    margin: 0px auto;
    width: 1200px;
}

#skills td {
    width: 33%;
    padding: 20px;
    vertical-align: top;
    border: 1px solid gray;
}

#skills {
    border-collapse: collapse;
}

#references img {
    border: 1px solid gray;
    padding: 6px;
    box-shadow: 3px 3px 6px #999999;
    margin-right: 6px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
